body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.App {
  
}
.navbar-section{
  height: 70px;
  border-bottom: 3px solid rgb(240, 240, 240);
}
.navbar-section img{
  margin: 25px 0 25px 35px;
  width: 85px;
}
.hero{
  display: flex;
  flex-direction: column;
}
.group-image{
  display: flex;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 32px;
}
.text-group{
  margin-left: 40px;
}
.hero-text{
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  width: 320px;
}
.hero-title{
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
}


/* Card design */
.card{
  width: 175px;
  font-size: 12px;
}
.card-template{
  width:175px;
  height: 235px;
  background-image: url('../src/images/image 12.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.btn{
  background: oldlace;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin: 5px ;
}
.card-stats{
  display: flex;
  align-items: center;
}
.card-star{
  height: 14px;
}
.grey{
  color: #918E9B;
}