*{
  box-sizing: border-box;
}
.App{
  
}

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.navbar-section{
  height: 70px;
  border-bottom: 3px solid rgb(240, 240, 240);
}
.navbar-section img{
  margin: 25px 0 25px 35px;
  width: 85px;
}
.hero{
  display: flex;
  flex-direction: column;
}
.group-images{
  display: flex;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 32px;
}
.text-group{
  margin-left: 40px;
}
.hero-text{
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  width: 320px;
}
.hero-title{
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
}

/* Card design */
.card{
  width: 176px;
  font-size: 12px;
  /* margin-left: 40px; */
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.card-image{
  width:100%;
  height: 235px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.btn{
  background: oldlace;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin: 5px ;
}
.card-stats{
  display: flex;
  align-items: center;
}
.card-star{
  height: 14px;
}
.grey{
  color: #918E9B;
}

section{
  margin: 40px;
}
 .card-list{
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  
} 
.card-title{
  overflow: hidden;
  text-overflow: ellipsis;
}